.deps
COPYING
INSTALL
Makefile
Makefile.in
aclocal.m4
autom4te.cache
config.cache
config.log
config.status
configure
libtool

am/compile
am/config.guess
am/config.sub
am/depcomp
am/install-sh
am/libtool.m4
am/ltmain.sh
am/ltoptions.m4
am/ltsugar.m4
am/ltversion.m4
am/lt~obsolete.m4
am/mdate-sh
am/missing
am/sofix
am/texinfo.tex

cov/*.tdt

doc/Makefile
doc/Makefile.in
doc/guile-sdl.info
doc/stamp-vti
doc/version.texi

src/*.la
src/*.lo
src/*.texi
src/*.x
src/.deps
src/.libs
src/Makefile
src/Makefile.in
src/config.h
src/config.h.in
src/modsup.h

src/SDL_gfx/Makefile
src/SDL_gfx/Makefile.in
