*.la
*.lo
.deps
.last-release
.libs
.ttn.*
COPYING
INSTALL
Makefile
Makefile.in
aclocal.m4
autom4te.cache
config.cache
config.h
config.h.in
config.log
config.status
configure
libtool

am/compile
am/config.guess
am/config.sub
am/depcomp
am/install-sh
am/ltmain.sh
am/mdate-sh
am/missing
am/sofix
am/texinfo.tex

cov/*.tdt

doc/Makefile
doc/Makefile.in
doc/guile-sdl.info
doc/stamp-vti
doc/version.texi

include/modsup.h

sdl-gfx/Makefile
sdl-gfx/Makefile.in

sdl-gfx/SDL_gfx/Makefile
sdl-gfx/SDL_gfx/Makefile.in

sdl-mixer/.libs
sdl-mixer/Makefile
sdl-mixer/Makefile.in
sdl-mixer/dummy.info
sdl-mixer/libguileSDL_mixer.la
sdl-mixer/sdlmixer.lo
sdl-mixer/sdlmixer.texi
sdl-mixer/sdlmixer.x

sdl-ttf/*.lo
sdl-ttf/.libs
sdl-ttf/Makefile
sdl-ttf/Makefile.in
sdl-ttf/dummy.info
sdl-ttf/libguileSDL_ttf.la
sdl-ttf/sdlttf.texi
sdl-ttf/sdlttf.x

sdl/Makefile
sdl/Makefile.in

src/*.la
src/*.lo
src/*.x
src/.deps
src/.libs
src/Makefile
src/Makefile.in
src/sdl.texi
src/sdlcdrom.texi
src/sdlevent.texi
src/sdljoystick.texi
src/sdlroto.texi
src/sdlsurface.texi
src/sdlvideo.texi
