*.la
*.lo
.deps
.last-release
.libs
.ttn.*
COPYING
INSTALL
Makefile
Makefile.in
aclocal.m4
autom4te.cache
config.cache
config.h
config.h.in
config.log
config.status
configure
libtool

am/compile
am/config.guess
am/config.sub
am/depcomp
am/install-sh
am/ltmain.sh
am/mdate-sh
am/missing
am/sofix
am/texinfo.tex

cov/*.tdt

doc/Makefile
doc/Makefile.in
doc/guile-sdl.info
doc/stamp-vti
doc/version.texi

sdl/Makefile
sdl/Makefile.in

src/*.la
src/*.lo
src/*.texi
src/*.x
src/.deps
src/.libs
src/Makefile
src/Makefile.in
src/modsup.h

src/SDL_gfx/Makefile
src/SDL_gfx/Makefile.in
